/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4; }

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */ }

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted; }

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */ }

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none; }

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0; }

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline; }

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item; }

body {
  background-color: #FAFAFA; }

button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit; }

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #747b95; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #333950;
  font-weight: 400; }

h1 {
  font-size: 2.5rem;
  line-height: 3rem; }

h2 {
  font-size: 2rem;
  line-height: 2.5rem; }

h3 {
  font-size: 1.25rem;
  line-height: 1.875rem; }

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem; }

/**
 * components/card-grid
 * ====================
 */
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 350px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-width: 700px;
    margin: 0 auto; } }

@media (min-width: 1195px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75rem;
    max-width: none;
    margin: 0; } }

/**
 * components/page-content
 * =======================
 */
.page-content--home {
  margin-top: 6.25rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 2; }

.page-content--signup {
  margin-top: 4.5rem; }
  @media (min-width: 768px) {
    .page-content--signup {
      margin-top: 3.5rem; } }

/**
 * components/container
 * ====================
 */
.container {
  padding-left: 7%;
  padding-right: 7%; }
  .container__inner {
    max-width: 1120px;
    margin: 0 auto; }
  .container--dark {
    background-color: #25293a; }
  .container--split-background {
    position: relative; }
    .container--split-background::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50%;
      background-color: #FAFAFA;
      z-index: 1; }
    .container--split-background::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #25293a;
      z-index: -1; }

@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem; } }

.countdown {
  max-width: 21rem; }
  .countdown__title {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.3em;
    text-transform: capitalize;
    color: #FFFFFF; }
    .countdown__title span {
      color: #5175ff; }
  .countdown__timer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%; }
  .countdown__timer-card {
    padding: 1.25rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    background-color: #333950; }
  .countdown__timer-value {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    color: #FFFFFF; }
  .countdown__timer-unit {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    color: #747b95; }
  .countdown--light .countdown__title {
    color: #25293a; }
  .countdown--light .countdown__timer-card {
    background-color: #e4eaff; }
  .countdown--light .countdown__timer-value {
    color: #5175ff; }
  .countdown--signup {
    text-align: center;
    margin: 0 auto;
    max-width: 25rem; }
    .countdown--signup .countdown__timer {
      margin-top: 1.5rem; }

@media (min-width: 768px) {
  .countdown {
    max-width: 28.125rem; }
    .countdown__timer {
      margin-top: 1.25rem;
      gap: 3.5%; }
    .countdown__timer-card {
      padding: 1.75rem 0rem;
      padding-bottom: 1.25rem;
      border-radius: 0.25rem;
      border-radius: 0.5rem; }
    .countdown__timer-value {
      font-size: 3.5rem;
      line-height: 1; }
    .countdown__timer-unit {
      margin-top: 0.5rem;
      font-size: 1rem;
      line-height: 1; }
    .countdown--signup {
      max-width: 29.375rem; } }

@media (min-width: 1195px) {
  .countdown__timer {
    margin-top: 0.75rem; }
  .countdown--signup {
    text-align: left;
    margin-left: 0; }
    .countdown--signup .countdown__timer {
      margin-top: 1.25rem; } }

.cta-btn {
  display: inline-block;
  padding: 1em 2.5em;
  border-radius: 2rem;
  background-color: #5175ff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  transition: box-shadow 0.3s, background-color 0.3s; }
  .cta-btn--shadow {
    box-shadow: 0 1.2rem 1.5rem -0.5rem rgba(26, 54, 167, 0.3); }
  .cta-btn:hover {
    background-color: #6b89ff; }
  .cta-btn:focus {
    box-shadow: 0 0 0 5px #b7c6ff;
    outline: none; }
  .cta-btn--pale {
    background-color: #e4eaff;
    color: #5175ff; }
    .cta-btn--pale:hover {
      background-color: #cbd6ff;
      color: #3861ff; }
    .cta-btn--pale:focus {
      box-shadow: 0 0 0 5px #6587ff; }
  .cta-btn--white {
    background-color: #FFFFFF;
    color: #5175ff; }
    .cta-btn--white:hover {
      background-color: #e4eaff;
      color: #3861ff; }
    .cta-btn--white:focus {
      box-shadow: 0 0 0 1px #4c71ff, 0 0 0 6px #9eb2ff; }
  .cta-btn--full-width {
    width: 100%; }

.footer {
  padding: 6.25rem 0rem;
  position: relative;
  z-index: 1;
  text-align: center; }
  .footer__countdown {
    margin: 0 auto; }
  .footer__cta {
    margin-top: 2.5rem; }
  .footer--empty {
    padding: 0;
    height: 5rem; }

@media (min-width: 768px) {
  .footer__cta {
    margin-top: 3rem; }
  .footer--empty {
    height: 7.5rem; } }

@media (min-width: 1195px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; }
    .footer__countdown {
      flex: auto;
      margin: 0 auto 0 0; }
    .footer__cta {
      margin-top: 0rem;
      flex: auto;
      text-align: right; }
    .footer--empty {
      display: none; } }

.footer-bg {
  position: relative; }
  .footer-bg::after {
    content: "";
    position: absolute;
    height: 1110px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: no-repeat url(../../assets/home/bg-pattern-footer.svg) left 50% bottom -110px/1220px; }
    @media (min-width: 768px) {
      .footer-bg::after {
        height: 1470px;
        bottom: -490px;
        background-position: center bottom;
        background-size: 1470px; } }
    @media (min-width: 1195px) {
      .footer-bg::after {
        height: 2000px;
        width: 2000px;
        left: 50%;
        right: auto;
        transform: translate(-1415px, 300px);
        background-position: center bottom;
        background-size: 2000px; } }
  .footer-bg--signup::after {
    height: 1170px;
    bottom: -450px;
    background: no-repeat url(../../assets/sign-up/bg-pattern-side.svg) left 50% bottom 0/1170px; }
    @media (min-width: 768px) {
      .footer-bg--signup::after {
        height: 1590px;
        bottom: -590px;
        background-position: center bottom;
        background-size: 1590px; } }
    @media (min-width: 1195px) {
      .footer-bg--signup::after {
        display: none; } }

/**
 * components/form-control
 * =======================
 */
.form-control {
  position: relative; }
  .form-control__input {
    width: 100%;
    padding: 30px 46px 24px 16px;
    border: none;
    border-bottom: 1px solid #bbb;
    background-color: #fff;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    color: #25293a;
    border-radius: 3px;
    transition: border 0.3s, box-shadow 0.3s; }
    .form-control__input::placeholder {
      color: #aaa;
      font-weight: normal;
      opacity: 1; }
    .form-control__input:focus {
      outline: none;
      box-shadow: 0 0 2px 3px #c6d2ff inset;
      border-bottom-color: #c6d2ff; }
  .form-control__error::after {
    content: "";
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 1.25rem;
    right: 1rem;
    top: 0;
    bottom: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGZpbGw9IiNGMDVCNUIiIGN4PSIxMCIgY3k9IjEwIiByPSIxMCIvPjxwYXRoIGQ9Ik0xMi40NzUgNi42MWwxLjQxNCAxLjQxNS0yLjQ3NSAyLjQ3NSAyLjQ3NSAyLjQ3NS0xLjQxNCAxLjQxNEwxMCAxMS45MTRsLTIuNDc1IDIuNDc1LTEuNDE0LTEuNDE0TDguNTg1IDEwLjUgNi4xMSA4LjAyNWwxLjQxNC0xLjQxNEwxMCA5LjA4NWwyLjQ3NS0yLjQ3NHoiIGZpbGw9IiNGRkYiLz48L2c+PC9zdmc+") no-repeat right;
    background-size: contain;
    transition: visibility 0.3s, opacity 0.3s; }
  .form-control__input[data-validity="invalid"] {
    border-bottom-color: red; }
    .form-control__input[data-validity="invalid"]:focus {
      box-shadow: 0 0 2px 3px #ffc6c6 inset; }
  .form-control__input[data-validity="invalid"] + .form-control__error::after {
    visibility: visible;
    opacity: 1; }

/**
 * components/form-select
 * ======================
 */
.form-select {
  position: relative; }
  .form-select__trigger {
    position: relative;
    padding: 30px 16px 24px 16px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #bbb;
    background-color: #fff;
    border-radius: 3px;
    line-height: 1;
    transition: border 0.4s;
    cursor: pointer; }
    .form-select__trigger:focus {
      outline: none;
      box-shadow: 0 0 2px 3px #c6d2ff inset;
      border-bottom-color: #c6d2ff; }
  .form-select__value b, .form-select__option b {
    margin-right: 0.5rem;
    color: #25293a;
    font-weight: bold; }
  .form-select__value span, .form-select__option span {
    color: #25293a; }
  .form-select__arrow {
    position: relative;
    width: 10px;
    height: 10px;
    transform: translateX(-2px); }
    .form-select__arrow::before, .form-select__arrow::after {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 2px;
      height: 100%;
      transition: all 0.2s ease-out; }
    .form-select__arrow::before {
      left: -3px;
      transform: rotate(45deg);
      background-color: #5175ff; }
    .form-select__arrow::after {
      left: 3px;
      transform: rotate(-45deg);
      background-color: #5175ff; }
  .form-select__options {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    transform: translateY(-2rem);
    transition: transform 1.2s ease-out, opacity 0.2s ease-out, visibility 0s 0.4s, left 0s 0.4s;
    top: 100%;
    left: -9999px;
    right: 0;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: 0 2rem 2rem -1rem rgba(73, 85, 136, 0.22);
    background-color: #FFFFFF; }
  .form-select__option {
    position: relative;
    padding: 0.25rem 1rem;
    line-height: 2.4em;
    cursor: pointer; }
    .form-select__option:hover {
      background-color: #e4eaff; }
    .form-select__option--is-selected::after {
      content: "";
      position: absolute;
      right: 1rem;
      top: 0;
      bottom: 0;
      width: 1rem;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNy41MDRMMy45OTQgMTAuNSAxMy40OTQgMSIgc3Ryb2tlPSIjNTE3NUZGIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") no-repeat right;
      background-size: contain; }
  .form-select--is-active .form-select__options {
    visibility: visible;
    opacity: 1;
    left: 0;
    height: auto;
    transform: translateY(0);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
  .form-select--is-active .form-select__arrow::before, .form-select--is-active .form-select__arrow::after {
    transition-duration: 0.4s; }
  .form-select--is-active .form-select__arrow::before {
    transform: rotate(-45deg); }
  .form-select--is-active .form-select__arrow::after {
    transform: rotate(45deg); }

.header {
  padding-top: 2.5rem;
  position: static; }
  .header::before {
    content: "";
    position: absolute;
    height: 275px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background: no-repeat url(../../assets/home/bg-pattern-header.svg) center top -175px/450px; }
  .header__logo {
    width: 155px;
    height: 30px;
    margin: 0 auto; }

@media (min-width: 768px) {
  .header {
    padding-top: 4.5rem;
    position: relative; }
    .header::before {
      content: "";
      position: absolute;
      height: 680px;
      width: 680px;
      left: 53%;
      right: auto;
      top: -168px;
      z-index: -1;
      background: no-repeat url(../../assets/home/bg-pattern-header.svg) center/cover; }
    .header__logo {
      margin: 0; } }

@media (min-width: 1024px) {
  .header {
    padding-top: 5rem; }
    .header::before {
      height: 1134px;
      width: 1134px;
      left: 44.5%;
      right: auto;
      top: -420px; } }

@media (min-width: 768px) {
  .header--signup::before {
    display: none; } }

.hero {
  margin-top: 5rem;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  text-align: center; }
  .hero__image svg {
    display: block;
    min-height: 200px;
    max-height: 260px;
    height: 240px;
    height: calc(40vh);
    margin: 0 auto; }
  .hero__content {
    margin-top: 2rem; }
  .hero__title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    color: #25293a;
    letter-spacing: 0; }
  .hero__copy {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.625rem; }
  .hero__cta-btn {
    margin-top: 1.5rem; }
  .hero__content--no-image {
    margin-top: 0rem; }

@media (min-width: 768px) {
  .hero {
    margin-top: 6.25rem;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left; }
    .hero__content {
      margin-top: 0rem;
      width: 50%; }
    .hero__image {
      width: 45.5%;
      max-width: 425px;
      margin-top: 00px;
      transform: translatex(5%); }
    .hero__image svg {
      width: 100%;
      height: auto;
      min-height: auto;
      max-height: none;
      margin: 0; }
    .hero--no-image {
      max-width: 37.5rem;
      margin-top: 6.25rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
    .hero__content--no-image {
      width: auto;
      margin-top: 0rem; } }

@media (min-width: 1024px) {
  .hero {
    align-items: flex-start; }
    .hero__image {
      width: 47.5%;
      max-width: none;
      margin-top: 0; }
    .hero__content {
      margin-top: calc(calc(100% - 824px)/4);
      min-width: 30.625rem; }
    .hero__title {
      font-size: 3.5rem;
      line-height: 4rem; }
    .hero__copy {
      font-size: 1.125rem;
      line-height: 1.75rem; }
    .hero__cta-btn {
      margin-top: 2rem; }
    .hero--no-image {
      max-width: 40rem;
      margin-top: 6.25rem; }
    .hero__content--no-image {
      margin-top: 0rem;
      min-width: auto; }
    .hero__title--no-image {
      font-size: 3rem;
      line-height: 3.5rem; } }

@media (min-width: 1195px) {
  .hero__content {
    margin-top: 4.5rem; }
  .hero--no-image {
    max-width: 50%;
    margin-right: auto;
    margin-left: 0;
    margin-top: 9.375rem; }
  .hero__content--no-image {
    margin-top: 0rem;
    text-align: left; }
  .hero__title--no-image {
    font-size: 3.5rem;
    line-height: 4rem; } }

.logo__link {
  display: block; }
  .logo__link svg {
    width: 100%;
    height: 100%;
    display: block; }

.plan-card {
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-radius: 0.8rem;
  box-shadow: 0 2rem 2rem -1rem rgba(73, 85, 136, 0.22);
  text-align: center; }
  .plan-card__type {
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: bold;
    color: #333950; }
  .plan-card__price {
    margin-top: 2rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: #333950; }
  .plan-card__description {
    margin-top: 0;
    font-size: 1rem;
    font-weight: normal;
    color: #333950; }
  .plan-card__features {
    margin-top: 3.5rem; }
    .plan-card__features p {
      font-size: 1rem;
      font-weight: normal;
      color: #747b95; }
    .plan-card__features p + p {
      margin-top: 1rem; }
  .plan-card__cta {
    margin-top: 2.5rem; }
  .plan-card--featured {
    background: #5175ff no-repeat url(../../assets/home/bg-pattern-pricing.svg) 50% 100%; }
    .plan-card--featured .plan-card__type, .plan-card--featured .plan-card__price, .plan-card--featured .plan-card__description {
      color: #FFFFFF; }
    .plan-card--featured .plan-card__features p {
      color: #D3DCFF; }

@media (min-width: 768px) {
  .plan-card {
    padding: 3rem 3rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-areas: "heading features" "cta     features";
    justify-content: stretch;
    text-align: left; }
    .plan-card__heading {
      grid-area: heading; }
    .plan-card__price {
      margin-top: 12px; }
    .plan-card__description {
      margin-top: 0; }
    .plan-card__features {
      grid-area: features;
      margin-top: 0rem; }
    .plan-card__cta {
      grid-area: cta;
      margin-top: 2rem; }
    .plan-card--featured {
      background-position: -320px 50%; } }

@media (min-width: 1195px) {
  .plan-card {
    display: flex;
    text-align: center; }
    .plan-card__price {
      margin-top: 2rem; }
    .plan-card__description {
      margin-top: 0; }
    .plan-card__features {
      margin-top: 3.5rem; }
    .plan-card__cta {
      margin-top: 2.5rem; }
    .plan-card--featured {
      background-position: 50% 100%; } }

/**
 * components/signup
 * =================
 */
.signup {
  padding: 16px 24px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: 0 2rem 2rem -1rem rgba(73, 85, 136, 0.22);
  background-color: #FFFFFF; }
  .signup__submit-btn {
    margin-top: 42px; }
  @media (min-width: 768px) {
    .signup {
      padding: 30px 40px 50px; } }

/**
 * components/signup-form-layout
 * =============================
 */
.signup-form-layout {
  max-width: 25rem;
  margin-top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2; }
  @media (min-width: 768px) {
    .signup-form-layout {
      max-width: 29.375rem;
      margin-top: 5rem; } }

/**
 * utilities/utilities
 * ==================
 */
.z-0 {
  z-index: 0; }

.z-10 {
  z-index: 10; }

.z-20 {
  z-index: 20; }

.z-30 {
  z-index: 30; }

.z-40 {
  z-index: 40; }

.z-50 {
  z-index: 50; }

.z-auto {
  z-index: auto; }

.container__inner {
  border: 1px solid #4574da !important;
  border-top: none !important;
  border-bottom: none !important; }

/*# sourceMappingURL=main.css.map */