/**
 * components/container
 * ====================
 */

.container{
    padding-left: 7%;
    padding-right: 7%;
    
    &__inner{
        max-width: $content-max-width;
        margin: 0 auto;
    }
    
    &--dark{
        background-color: $color-dark;
    }
    
    &--split-background{
        position: relative;
        
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50%;
            background-color: $color-light;
            z-index: 1;

        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-dark;
            z-index: -1;
        }
    }


}

@include bp($md){
    .container{
        padding-left: $content-space-40;
        padding-right: $content-space-40;
        // padding-left: calc(15.625% - 80px);
        // padding-right: calc(15.625% - 80px);
    }
}

@include bp($xl){
    .container--signup{
        // background-color: ;
    }
    
    .container--signup.container--split-background{
        position: static;

        &::after, &::before{
            display:none;
        }
    }
    .container--signup .container__inner{
        // width: 50%;
        // transform: translateX(-50%);
    }
}
