// 
// components/countdown
// ====================
// 

.countdown{
    max-width: pxToRem(336);

    &__title{
        font-size: $font-size-base;
        font-weight: bold;
        letter-spacing: $letter-spacing-4xl;
        text-transform: capitalize;
        color: $color-white;
        
        span{
            color: $color-brand-blue;
        }
    }
    &__timer{
        margin-top: $content-space-32;
        display: grid;
        grid-template-columns: repeat(4, 1fr);  //grid-template-columns: repeat(4, calc(25% - (36px/4)));
        gap: 4%;
    }
    &__timer-card{
        padding: $content-space-20 $content-space-0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: $content-space-4;
        background-color: $color-dark-blue;
    }
    &__timer-value{
        font-size: $font-size-4xl;
        font-weight: bold;
        line-height: 1;
        color: $color-white;
    }
    &__timer-unit{
        margin-top: $content-space-8;
        font-size: $font-size-xs;
        font-weight: bold;
        line-height: 1;
        color: $color-gray;
    }

    &--light{
        .countdown__title{
            color: $color-dark;
        }
        .countdown__timer-card{
            background-color: $color-very-light-blue;
        }
        .countdown__timer-value{
            color: $color-brand-blue;
        }
    }

    &--signup{
        text-align: center;
        margin: 0 auto;
        max-width: pxToRem(400);
        & .countdown__timer{
            margin-top: $content-space-24;
        }
    }
    
}

@include bp($md){
    .countdown{
        max-width: pxToRem(450);

        &__timer{
            margin-top: $content-space-20;
            gap: 3.5%;
        }  
        &__timer-card{
            padding: $content-space-28 $content-space-0;
            padding-bottom: $content-space-20;
            border-radius: $content-space-4;
            border-radius: $content-space-8;
        }
        &__timer-value{
            font-size: $font-size-7xl;
            line-height: 1;
        }
        &__timer-unit{
            margin-top: $content-space-8;
            font-size: $font-size-base;
            line-height: 1;
        }    

        &--signup{
            max-width: pxToRem(470);
        }
    }
}
@include bp($xl){
    .countdown{

        &__timer{
            margin-top: $content-space-12;
        }

        &--signup{
            text-align: left;
            margin-left: 0;
            
            .countdown__timer{
                margin-top: $content-space-20;
            }
        }
    }
}

