/**
 * components/cta-btn
 * ==================
 */

 .cta-btn{
    $radius: 2em;
    
    display: inline-block;
    padding: 0.72em 2.3em;
    border-radius: $radius;
    background-color: $color-brand-blue;
    font-size: $font-size-sm;
    font-weight: bold;
    color: $color-white;
    text-decoration: none;

    transition: opacity 0.3s;

    &:hover {
        opacity: 1;
    }

    &:focus{
        outline:none;
        box-shadow: 0 0 0 5px rgba($color-dark-blue, .3);
    }


}