/**
 * components/cta-btn
 * ==================
 */

 .cta-btn{
    $radius: 2rem;
    
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: $radius;
    background-color: $color-brand-blue;
    box-shadow: 0 1.2rem 1.5rem -0.5rem rgba(#1a36a7, 0.3);
    font-size: $font-size-base;
    line-height: 1.5em;
    font-weight: bold;
    color: $color-white;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.8;
    }

    &:focus{
        outline:none;
        box-shadow: 0 0 0 5px rgba($color-brand-blue, .3);
    }


}