// 
// components/footer
// ====================
// 

.footer{ 
    padding: $content-space-100 $content-space-0; 
    position: relative;
    z-index: 1;
    text-align: center;

    &__countdown{
        margin:0 auto;
    }
    &__cta{
        margin-top: $content-space-40;
    }

    &--empty{
        padding: 0;
        height: $content-space-80;
    }
}

@include bp($md){
    .footer{
        &__cta{
            margin-top: $content-space-48;
        }

        &--empty{
            height: $content-space-120;
        }
    }
}

@include bp($xl){
    .footer{        
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
     
        &__countdown{
            flex: auto;
            margin:0 auto 0 0;
        }
        &__cta{
            margin-top: $content-space-0;
            flex: auto;
            text-align: right;
        }

        &--empty{
            display: none;
        }
    }
}