// 
// components/footer-bg
// ====================
// 

.footer-bg{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        height: 1110px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: no-repeat
                    url(../../assets/home/bg-pattern-footer.svg)
                    left 50% bottom -110px / 1220px;
    
        @include bp($md){
            height: 1470px;
            bottom: -490px;
            background-position: center bottom;
            background-size: 1470px;
        }
        @include bp($xl){
            height: 2000px;
            width: 2000px;
            left: 50%;
            right:auto;
            transform: translate(-1415px, 300px);
            background-position: center bottom;
            background-size: 2000px;
        }
    }

    &--signup{
        &::after{
            height: 1170px;
            bottom: -450px;
            background: no-repeat url(../../assets/sign-up/bg-pattern-side.svg) left 50% bottom 0 / 1170px;
        
            @include bp($md){
                height: 1590px;
                bottom: -590px;
                background-position: center bottom;
                background-size: 1590px;
            }
            @include bp($xl){
                display: none;
            }
        }
    }
}