 /**
 * components/form-control
 * =======================
 */

 .form-control{
    $transition-duration: 0.3s;
    
    position:relative;

    &__input{
        width: 100%;
        padding: 30px 46px 24px 16px;
        border: none;
        border-bottom: 1px solid #bbb;
        background-color: #fff;
        font-family: inherit;
        font-size: inherit;
        line-height: 1;
        color: $color-dark;
        border-radius: 3px;
        transition: border $transition-duration;

        &::placeholder{
            color: #aaa;
            font-weight: normal;
            opacity: 1;
        }
        &:focus { 
            outline: none;
            box-shadow: 0 0 2px 3px lighten(#5175ff, 23) inset;
            border-bottom-color: lighten(#5175ff, 23);
        }
    }

    &__error{
        &::after{
            content: "";
            position: absolute;
            visibility: hidden;
            opacity: 0;
            width: 1.25rem;
            right: 1.25rem;
            top:0;
            bottom:0;
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGZpbGw9IiNGMDVCNUIiIGN4PSIxMCIgY3k9IjEwIiByPSIxMCIvPjxwYXRoIGQ9Ik0xMi40NzUgNi42MWwxLjQxNCAxLjQxNS0yLjQ3NSAyLjQ3NSAyLjQ3NSAyLjQ3NS0xLjQxNCAxLjQxNEwxMCAxMS45MTRsLTIuNDc1IDIuNDc1LTEuNDE0LTEuNDE0TDguNTg1IDEwLjUgNi4xMSA4LjAyNWwxLjQxNC0xLjQxNEwxMCA5LjA4NWwyLjQ3NS0yLjQ3NHoiIGZpbGw9IiNGRkYiLz48L2c+PC9zdmc+') 
                        no-repeat
                        right;
            background-size: contain; 
            transition: visibility $transition-duration, opacity $transition-duration;
        }
    }

    &__input[data-validity="invalid"] {
        border-bottom-color: red;
    }
    &__input[data-validity="invalid"] + &__error{ 
        &::after{
            visibility: visible;
            opacity: 1;
        }
    }
 }