// 
// components/header
// =================
// 

.header{
    padding: $content-space-40 $content-space-0; 
    height: auto;

    &__logo{
        width: 155px;
        height: 30px; 
        margin:0 auto;
    }
}

@include bp($md){
    .header{
        padding: 0;
        height: auto;      
    }
}

@include bp($lg){
    .header{
        padding: 0;
        height: auto;      
    }
}
