// 
// components/header
// =================
// 

.header{
    padding-top: $content-space-40; 
    position: static;

    &::before{
        content: "";
        position: absolute;
        height: 275px;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        background: no-repeat
                    url(../../assets/home/bg-pattern-header.svg)
                    center top -175px / 450px;
    }
    
    &__logo{
        width: 155px;
        height: 30px; 
        margin:0 auto;
    }
}

@include bp($md){
    .header{
        padding-top: $content-space-72; 
        position: relative;

        &::before{
            content: "";
            position: absolute;
            height: 680px;
            width: 680px;
            left: 53%;   //auto
            right: auto;   //-350px
            top: -168px;
            z-index: -1;
            background: no-repeat
                        url(../../assets/home/bg-pattern-header.svg)
                        center  / cover;
        }
        
        &__logo{
            margin:0;
        }
    }
}

@include bp($lg){
    .header{
        padding-top: $content-space-80; 
    
        &::before{
            height: 1134px;
            width: 1134px;
            left: 44.5%;   //auto
            right: auto;   //-350px
            top: -420px;
        }   
    }
}

@include bp($md){
    .header--signup::before{
        display: none;
    }
}