// 
// components/hero
// ===============
// 

.hero{
  margin-top: $content-space-80;
  max-width: pxToRem(600);
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__image svg{
    display: block;
    min-height: 200px;
    max-height: 260px;
    height: 240px;
    height: calc(40vh);
    margin: 0 auto;
  }
  &__content{
    margin-top: $content-space-32;
  }
  &__title{
    font-size: $font-size-5xl;
    line-height: $line-height-5xl;
    font-weight: bold;
    color: $color-dark;
    letter-spacing: 0;
  }
  &__copy{
    margin-top: $content-space-24;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  &__cta-btn{
    margin-top: $content-space-24;
  }
}

@include bp($md){
  .hero{
    margin-top: $content-space-100;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;

    &__content{
      margin-top: $content-space-0;
      width: 50%;
    }
    &__image{
      width: 45.5%;
      max-width: 425px;
      margin-top: 00px;
      transform: translatex(5%);
    }
    &__image svg{
      width: 100%;
      height: auto;
      min-height: auto;
      max-height: none;
      margin: 0;
    }

    &--no-image{
      max-width: pxToRem(600);
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      & .hero__content{
        width: auto;
      }
    }
  }

}

@include bp($lg){
  .hero{
    align-items: flex-start;
    
    &__image{
      width: 47.5%;
      max-width: none;
      margin-top: 0;
    }
    &__content{
      margin-top: calc(calc(100% - 824px)/4);
      min-width: pxToRem(490);
    }
    &__title{
      font-size: $font-size-7xl;
      line-height: $line-height-7xl;
    }
    &__copy{
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }
    &__cta-btn{
      margin-top: $content-space-32;
    }
    
    &--no-image{
      max-width: none;
      margin: 0;
      margin-top: pxToRem(120);
      text-align: left;
      
      & .hero__content{
        margin-top: 0;
        min-width: auto;
      }
    }
  }
}

@include bp($xl){
  .hero{
    &__content{
      margin-top: $content-space-72;
    }
  }
}