 /**
 * components/page-content
 * =======================
 */

 .page-content{
    margin-top: $content-space-100;
    padding-bottom: $content-space-8;
    position: relative;
    z-index: 2;

    &--tight{
      margin-top: $content-space-72;
      @include bp($md){
         margin-top: $content-space-56;
      }
    }
 }

