// 
// components/plan-card
// ====================
// 

.plan-card{
    padding: $content-space-40 $content-space-32;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#FFF;
    border-radius: 0.8rem; 
    box-shadow: 0 2rem 2rem -1rem rgba(73, 85, 136, 0.22);
    
    &__type{
        margin-top: 0;
        font-size: $font-size-xl;
        font-weight: bold;
        color: $color-dark-blue;
    }
    &__price{
        margin-top: $content-space-16;
        font-size: $font-size-7xl;
        font-weight: bold;
        color: $color-dark-blue;
    }
    &__description{
        margin-top: 0;
        font-size: $font-size-base;
        font-weight: normal;
        color: $color-dark-blue;
    }
    &__features{
        margin-top: $content-space-40;
        
        p{
            margin-top: $content-space-16;
            font-size: $font-size-base;
            font-weight: normal;
            color: $color-gray;
            text-align: center;
        }
    }
    &__cta{
        margin-top: $content-space-32;
    }

    &--featured{
        background: $color-brand-blue 
                    no-repeat 
                    url(../../assets/home/bg-pattern-pricing.svg) 
                    50% 100%;

        & .plan-card__type, & .plan-card__price, & .plan-card__description{
            color: $color-white;
        }
        & .plan-card__features p{
            color: $color-light-blue;
        }
    }
}