 /**
 * components/plans
 * ================
 */

 .plans{
    margin-top: $content-space-100;
    padding-bottom: $content-space-16;
    position: relative;
    z-index: 2;
 }

//  @include bp($md){

//  }