 /**
 * components/signup
 * =================
 */

.signup{
    padding: 16px 24px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem; 
    box-shadow: 0 2rem 2rem -1rem rgba(73, 85, 136, 0.22);
    background-color: $color-white;

    &__input{
        
    }

    &__plan-select{

    }
    
    &__submit-btn{
        margin-top: 42px;
    }
}