 /**
 * components/signup
 * =================
 */


.signup{
    padding: 16px 24px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem; 
    box-shadow: 0 2rem 2rem -1rem rgba(73, 85, 136, 0.22);
    background-color: $color-white;

    input{
        width: 100%;
        padding: 30px 46px 24px 16px;
        border: none;
        border-bottom: 1px solid #bbb;
        background-color: #fff;
        font-family: inherit;
        font-size: inherit;
        line-height: 1;
        color: $color-dark;
        border-radius: 3px;

        &::placeholder{
            color: #bbb;
            font-weight:normal;
            opacity: 1;
        }
        &:focus { //}, &:hover{
            outline: none;
            box-shadow: 0 0 2px 3px lighten(#5175ff, 23) inset;
            border-bottom-color: lighten(#5175ff, 23);
            //border-radius: 2px;
            //border: 5px solid $color-very-light-blue;
            //border-bottom: 1px solid $color-brand-blue;

        }
        & + input{
            margin-top: 50px;
        }
    }

    .input-wrap{
        position:relative;
    }

    input[data-validity="invalid"] {
        border-bottom-color: red;
    }
    input[data-validity="invalid"] + .error{
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 16px;
            right: 1rem;
            top:0;
            bottom:0;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACDUlEQVRYhcXXz0sVURQH8M8MD5EIERdhISIuokUrg2gRBZUS1Z8hEW2iTbSPEKJ/IFr0w3/BiqiEdi0SFWtdWdFCCKHCkuq0mPfwNVjvzlPf+8JhmDtzzvd7zj1z751MIqK4HMYJHMII+uuPV/EWc5jFy4zfqbFbEfcFV4I3QSTau+Bq0LcVYsFksFKBuGwrwfkgr0reHzzYAnHZHgUDqeR7gqVtJG/YUjBY5stK5AN4joMtdC7jRWnsCIZb+L3C8YzPm2WeB48Ts5nexH860fdJc080N8cFTLTIYDtwChf/ElAv/fUOkDdwrdGUjQpcsrGodAL9uEwx7zVMdpC8gcmgluMo9nVBwCCO5RjvAnkD4znGuihgLMdoFwWM5lLX6J3BQLVdageQKw4T3cJqrthYuoXlGhYUx6wq2BUMlcfaELAgOLMDe3+qncuCXnzS2b2Aovf25hnfcbeNALM4W7enbfjfr3MTDAVrFUr3OuhpRApqwWIF/7Won55yyPiAGxXUz2SsN24yfmKmgv/NrPz1BT3BXGIG98oRgzuJvvPN1SsHGQ7eJwT5EZxu8puoj7Xy+xjFH9W/EexPFBH1eV8MfiWSH0iaoHol5rfxe59vmfkmInqDqcTS/m+qpqJYa9pDMBrcDr5VIP4S3ErJOmv1QpOQ3YrGO6k4RY3Y6OZ1xe/5Ap7hYcbXlLh/AHcmXTfceSpqAAAAAElFTkSuQmCC') 
                        no-repeat
                        right;
            background-size: contain; 
        }
    }


    &__btn{
        margin-top: 42px;
    }
}