// 
// base/global
// ===========
// 

body{
    background-color: $color-light;
}

button {
    display: inline-block;
    border: none;
    background:none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

main{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        height: 1040px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: no-repeat
                    url(../../assets/home/bg-pattern-footer.svg)
                    left 50% bottom -110px / 1220px;
    
        @include bp($md){
            height: 1470px;
            bottom: -490px;
            background-position: center bottom;
            background-size: 1470px;
        }
        @include bp($xl){
            height: 2000px;
            width: 2000px;
            left: 50%;
            right:auto;
            transform: translate(-1415px, 300px);
            background-position: center bottom;
            background-size: 2000px;
        }
    }
}
