// 
// base/global
// ===========
// 

body{
    // overflow-x: hidden;
    // overflow-y: auto;
    background-color: $color-light;


}

main{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        height: 1040px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: no-repeat
                    url(../../assets/home/bg-pattern-footer.svg)
                    left 50% bottom -110px / 1220px;
    }
}

button {
    display: inline-block;
    border: none;
    background:none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@include bp($md){
    body{
        background-position: right 0  top -170px;
        background-size: 650px;

        // 50% -170px / 450px;
    }
}
