// 
// base/global
// ===========
// 

body{
    background-color: $color-light;
}

button {
    display: inline-block;
    border: none;
    background:none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: inherit;
}


