// 
// abstracts/breakpoints
// =====================
// 
 
$sm: 640px;
$md: 768px;
$lg: 1024px; //920px;
$xl: 1195px;
// $xl: 1280px;
// $xxl: 1440px;

// $phone-only:            max 599
// $tablet-portrait-up:    600
// $tablet-landscape-up:   900
// $desktop-up:            1200
// $big-desktop-up:        1800


